{% load static %}
<html>
<head><title>h4ks</title></head>

<body onload="startTime()" style="background-color: #808000;">
<script>
function startTime() {
  const today = new Date();
  //const today = new Date(<?php echo time(); ?>);

  let h = today.getHours();
  let m = today.getMinutes();
  let s = today.getSeconds();

  m = checkTime(m);
  s = checkTime(s);

{% for location in locations %}
  zonetime = today.toLocaleString('en-US', { timeZone: '{{ location.zone }}' })
  document.getElementById('{{ location.id }}').innerHTML =  zonetime;
{% endfor %}

  setTimeout(startTime, 1000);
}

function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
}
</script>

<div style="float:left">

<div id="txt01" style="float:right"></div>
h4ks server time: {% now "d M Y H:i:s.u" %}
<br>

<div style="float:left">
{% for location in locations %}
<br><span style="float:left; color: {{ location.color }}">{{ location.name }}</span>
<div id="{{ location.id }}" style="float:right"></div>
{% endfor %}
</div>
</div>

<div style="padding: 10px; border: 5px solid blue; margin: 20px; float:left">
{% for app in apps %}
<br><a href="{{ app.location }}">{{ app.name }}</a>
{% endfor %}
</div>

<a href="{% static 'webapp/img/term0.jpg' %}"><img src="{% static 'webapp/img/term0.jpg' %}" style="padding: 10px; border: 5px solid gray; margin: 20px; float:left" alt="sowhat" width="20%"></a>
<a href="{% static 'webapp/img/term0.jpg' %}"><img src="{% static 'webapp/img/term0.jpg' %}" style="padding: 10px; border: 5px solid gray; margin: 20px; float:left" alt="sowhat" width="20%"></a>
<a href="{% static 'webapp/img/term0.jpg' %}"><img src="{% static 'webapp/img/term0.jpg' %}" style="padding: 10px; border: 5px solid gray; margin: 20px; float:left" alt="sowhat" width="20%"></a>
<a href="{% static 'webapp/img/term0.jpg' %}"><img src="{% static 'webapp/img/term0.jpg' %}" style="padding: 10px; border: 5px solid gray; margin: 20px; float:left" alt="sowhat" width="20%"></a>
<a href="{% static 'webapp/img/term0.jpg' %}"><img src="{% static 'webapp/img/term0.jpg' %}" style="padding: 10px; border: 5px solid gray; margin: 20px; float:left" alt="sowhat" width="20%"></a>
<a href="{% static 'webapp/img/term0.jpg' %}"><img src="{% static 'webapp/img/term0.jpg' %}" style="padding: 10px; border: 5px solid gray; margin: 20px; float:left" alt="sowhat" width="20%"></a>

<a href="{% static 'webapp/img/term1.jpg' %}"><img src="{% static 'webapp/img/term1.jpg' %}" style="padding: 10px; border: 5px solid red; margin: 30px; float:left" alt="sowhat" width="10%"></a>
<a href="{% static 'webapp/img/term1.jpg' %}"><img src="{% static 'webapp/img/term1.jpg' %}" style="padding: 10px; border: 5px solid red; margin: 30px; float:left" alt="sowhat" width="10%"></a>
<a href="{% static 'webapp/img/term1.jpg' %}"><img src="{% static 'webapp/img/term1.jpg' %}" style="padding: 10px; border: 5px solid red; margin: 30px; float:left" alt="sowhat" width="10%"></a>
<a href="{% static 'webapp/img/term1.jpg' %}"><img src="{% static 'webapp/img/term1.jpg' %}" style="padding: 10px; border: 5px solid red; margin: 30px; float:left" alt="sowhat" width="10%"></a>
<a href="{% static 'webapp/img/term1.jpg' %}"><img src="{% static 'webapp/img/term1.jpg' %}" style="padding: 10px; border: 5px solid red; margin: 30px; float:left" alt="sowhat" width="10%"></a>
<a href="{% static 'webapp/img/term1.jpg' %}"><img src="{% static 'webapp/img/term1.jpg' %}" style="padding: 10px; border: 5px solid red; margin: 30px; float:left" alt="sowhat" width="10%"></a>
<a href="{% static 'webapp/img/term1.jpg' %}"><img src="{% static 'webapp/img/term1.jpg' %}" style="padding: 10px; border: 5px solid red; margin: 30px; float:left" alt="sowhat" width="10%"></a>
<a href="{% static 'webapp/img/term1.jpg' %}"><img src="{% static 'webapp/img/term1.jpg' %}" style="padding: 10px; border: 5px solid red; margin: 30px; float:left" alt="sowhat" width="10%"></a>
<a href="{% static 'webapp/img/term1.jpg' %}"><img src="{% static 'webapp/img/term1.jpg' %}" style="padding: 10px; border: 5px solid red; margin: 30px; float:left" alt="sowhat" width="10%"></a>
<a href="{% static 'webapp/img/term1.jpg' %}"><img src="{% static 'webapp/img/term1.jpg' %}" style="padding: 10px; border: 5px solid red; margin: 30px; float:left" alt="sowhat" width="10%"></a>

<a href="{% static 'webapp/img/term2.jpg' %}"><img src="{% static 'webapp/img/term2.jpg' %}" style="padding: 10px; border: 5px solid yellow; float:left" alt="sowhat" width="5%"></a>
<a href="{% static 'webapp/img/term2.jpg' %}"><img src="{% static 'webapp/img/term2.jpg' %}" style="padding: 10px; border: 5px solid yellow; float:left" alt="sowhat" width="5%"></a>
<a href="{% static 'webapp/img/term2.jpg' %}"><img src="{% static 'webapp/img/term2.jpg' %}" style="padding: 10px; border: 5px solid yellow; float:left" alt="sowhat" width="5%"></a>
<a href="{% static 'webapp/img/term2.jpg' %}"><img src="{% static 'webapp/img/term2.jpg' %}" style="padding: 10px; border: 5px solid yellow; float:left" alt="sowhat" width="5%"></a>
<a href="{% static 'webapp/img/term2.jpg' %}"><img src="{% static 'webapp/img/term2.jpg' %}" style="padding: 10px; border: 5px solid yellow; float:left" alt="sowhat" width="5%"></a>
<a href="{% static 'webapp/img/term2.jpg' %}"><img src="{% static 'webapp/img/term2.jpg' %}" style="padding: 10px; border: 5px solid yellow; float:left" alt="sowhat" width="5%"></a>
<a href="{% static 'webapp/img/term2.jpg' %}"><img src="{% static 'webapp/img/term2.jpg' %}" style="padding: 10px; border: 5px solid yellow; float:left" alt="sowhat" width="5%"></a>
<a href="{% static 'webapp/img/term2.jpg' %}"><img src="{% static 'webapp/img/term2.jpg' %}" style="padding: 10px; border: 5px solid yellow; float:left" alt="sowhat" width="5%"></a>
<a href="{% static 'webapp/img/term2.jpg' %}"><img src="{% static 'webapp/img/term2.jpg' %}" style="padding: 10px; border: 5px solid yellow; float:left" alt="sowhat" width="5%"></a>
<a href="{% static 'webapp/img/term2.jpg' %}"><img src="{% static 'webapp/img/term2.jpg' %}" style="padding: 10px; border: 5px solid yellow; float:left" alt="sowhat" width="5%"></a>
<a href="{% static 'webapp/img/term2.jpg' %}"><img src="{% static 'webapp/img/term2.jpg' %}" style="padding: 10px; border: 5px solid yellow; float:left" alt="sowhat" width="5%"></a>
<a href="{% static 'webapp/img/term2.jpg' %}"><img src="{% static 'webapp/img/term2.jpg' %}" style="padding: 10px; border: 5px solid yellow; float:left" alt="sowhat" width="5%"></a>
<a href="{% static 'webapp/img/term2.jpg' %}"><img src="{% static 'webapp/img/term2.jpg' %}" style="padding: 10px; border: 5px solid yellow; float:left" alt="sowhat" width="5%"></a>
<a href="{% static 'webapp/img/term2.jpg' %}"><img src="{% static 'webapp/img/term2.jpg' %}" style="padding: 10px; border: 5px solid yellow; float:left" alt="sowhat" width="5%"></a>
<a href="{% static 'webapp/img/term2.jpg' %}"><img src="{% static 'webapp/img/term2.jpg' %}" style="padding: 10px; border: 5px solid yellow; float:left" alt="sowhat" width="5%"></a>
<a href="{% static 'webapp/img/term2.jpg' %}"><img src="{% static 'webapp/img/term2.jpg' %}" style="padding: 10px; border: 5px solid yellow; float:left" alt="sowhat" width="5%"></a>
<a href="{% static 'webapp/img/term2.jpg' %}"><img src="{% static 'webapp/img/term2.jpg' %}" style="padding: 10px; border: 5px solid yellow; float:left" alt="sowhat" width="5%"></a>
<a href="{% static 'webapp/img/term2.jpg' %}"><img src="{% static 'webapp/img/term2.jpg' %}" style="padding: 10px; border: 5px solid yellow; float:left" alt="sowhat" width="5%"></a>
<a href="{% static 'webapp/img/term2.jpg' %}"><img src="{% static 'webapp/img/term2.jpg' %}" style="padding: 10px; border: 5px solid yellow; float:left" alt="sowhat" width="5%"></a>
<a href="{% static 'webapp/img/term2.jpg' %}"><img src="{% static 'webapp/img/term2.jpg' %}" style="padding: 10px; border: 5px solid yellow; float:left" alt="sowhat" width="5%"></a>

</body>
</html>
